.homepage-banner-mob-btg-with {
    position: absolute;
    top: 135px;
    left: 817px;
    width: 463px;
    height: 697px;
}
.next-child {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: #7cfc90;
    width: 160px;
    height: 40px;
}
.cardio {
    position: absolute;
    top: 5px;
    left: calc(50% - 38.95px);
    display: inline-block;
    width: 78.5px;
    height: 24px;
}
.next {
    position: absolute;
    top: 752px;
    left: 1081px;
    width: 160px;
    height: 40px;
    text-align: center;
}
.frame-child {
    position: absolute;
    top: 733px;
    left: 178px;
    box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: #7cfc90;
    width: 262px;
    height: 50px;
}
.sign-up {
    position: absolute;
    top: 744px;
    left: calc(50% - 202px);
    font-size: 21px;
    display: inline-block;
    font-family: Outfit;
    color: #fff;
    text-align: center;
    width: 287px;
    height: 30px;
    cursor: pointer;
}
.left-arrow-1-icon {
    position: absolute;
    top: 19px;
    left: 16px;
    width: 38px;
    height: 26px;
    object-fit: cover;
    cursor: pointer;
}
.strength-training {
    position: absolute;
    top: 19px;
    left: calc(50% - 204px);
    font-size: 48px;
    letter-spacing: -0.01em;
    display: inline-block;
    font-family: Outfit;
    color: #3a2e79;
    text-align: center;
    width: 408px;
    height: 67px;
    opacity: 0.8;
}
.youtube-and-vimeo-video {
    position: relative;
    width: 240px;
    height: 149px;
}
.arrow-right-icon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}
.pagination-next {
    position: absolute;
    top: 3.36px;
    left: 491.85px;
    border-radius: 8px;
    background-color: #483d82;
    width: 84.1px;
    height: 26.9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    box-sizing: border-box;
    gap: 8px;
}
.handle {
    width: 4px;
    position: relative;
    border-radius: 2px;
    background-color: #65558f;
    height: 44px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 0;
}
.track {
    align-self: stretch;
    position: relative;
    border-radius: 2px 16px 16px 2px;
    background-color: #fff;
    height: 16px;
}
.inactive-track {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
}
.track-dot-1 {
    width: 4px;
    position: relative;
    height: 4px;
}
.discrete-dots {
    width: calc(100% + 0.4px);
    margin: 0 !important;
    position: absolute;
    top: calc(50% - 1.5px);
    right: -0.4px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4px;
    box-sizing: border-box;
    z-index: 2;
}
.discrete {
    position: absolute;
    top: 0px;
    left: 125.22px;
    width: 354.6px;
    height: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 4px;
    box-sizing: border-box;
    gap: 6px;
}
.previous {
    position: relative;
    line-height: 100%;
}
.pagination-previous {
    position: absolute;
    top: 5.05px;
    left: 0px;
    border-radius: 8px;
    background-color: #483d82;
    width: 113.2px;
    height: 26.9px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    box-sizing: border-box;
    gap: 8px;
    color: #fff;
}
.pagination-next-parent {
    position: absolute;
    top: 624px;
    left: 35px;
    width: 576px;
    height: 37px;
    font-size: 16px;
    color: #ebffee;
}
.how-to-do {
    position: absolute;
    top: 125px;
    left: 301px;
    line-height: 100%;
    font-weight: 600;
    display: inline-block;
    width: 273px;
    height: 23px;
}
.perfect-pull-ups {
    position: absolute;
    top: 293px;
    left: 301px;
    line-height: 100%;
    font-weight: 600;
    display: inline-block;
    width: 273px;
    height: 23px;
}
.proper-form-of {
    position: absolute;
    top: 462px;
    left: 301px;
    line-height: 100%;
    font-weight: 600;
    display: inline-block;
    width: 337px;
    height: 23px;
}
.icon {
    position: absolute;
    height: 2.93%;
    width: 3.32%;
    top: 57.94%;
    right: 53.88%;
    bottom: 39.13%;
    left: 42.8%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.icon1 {
    position: absolute;
    height: 2.93%;
    width: 3.32%;
    top: 33.76%;
    right: 54.17%;
    bottom: 63.3%;
    left: 42.51%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.share-icon {
    position: absolute;
    top: 401px;
    left: 336px;
    width: 29px;
    height: 25px;
    overflow: hidden;
}
.share-icon1 {
    position: absolute;
    top: 572px;
    left: 336px;
    width: 29px;
    height: 25px;
    overflow: hidden;
}
.check-circle-icon {
    position: absolute;
    top: 399px;
    left: 591px;
    width: 27px;
    height: 25px;
    overflow: hidden;
}
.check-circle-icon1 {
    position: absolute;
    top: 572px;
    left: 591px;
    width: 27px;
    height: 25px;
    overflow: hidden;
}
.rectangle-parent {
    position: absolute;
    top: 133px;
    left: 233px;
    box-shadow: 0px 4px 10.2px 3px rgba(0, 0, 0, 0.25);
    border-radius: 0px 120px 120px 0px;
    background-color: #f7f1f1;
    width: 708px;
    height: 699px;
    overflow: hidden;
    font-size: 20px;
    color: #475569;
    font-family: Inter;
}
.avatar-w-photo {
    position: absolute;
    top: 50px;
    left: 1161px;
    border-radius: 999px;
    width: 40px;
    height: 40px;
}
.bell-1-icon {
    position: absolute;
    top: 55px;
    left: 1035px;
    width: 34px;
    height: 32.9px;
    object-fit: cover;
    cursor: pointer;
}
.badge-label {
    flex: 1;
    position: relative;
    letter-spacing: 0.5px;
    line-height: 16px;
    font-weight: 500;
}
.badges {
    position: absolute;
    top: 49px;
    left: 1056px;
    border-radius: 100px;
    background-color: #b3261e;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 4px;
    box-sizing: border-box;
    min-width: 16px;
    max-width: 34px;
    text-align: center;
}
.welcome-back {
    position: absolute;
    top: 17.94px;
    left: calc(50% - 75.5px);
    letter-spacing: -0.01em;
    display: inline-block;
    width: 151px;
    height: 20.1px;
    opacity: 0.89;
}
.good-morning {
    position: absolute;
    top: 0px;
    left: calc(50% - 75.5px);
    font-size: 12px;
    letter-spacing: -0.01em;
    font-weight: 200;
    white-space: pre-wrap;
    display: inline-block;
    width: 112.2px;
    height: 16.9px;
}
.greetings {
    position: absolute;
    top: 49px;
    left: calc(50% - 359px);
    width: 151px;
    height: 38px;
    font-size: 15px;
    font-family: Outfit;
}
.iconsaxboldsetting2 {
    position: absolute;
    top: 53px;
    left: 1097px;
    width: 36px;
    height: 35px;
    overflow: hidden;
}
.iconsaxlinearsearchnormal {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.search {
    position: relative;
}
.iconsaxlinearsearchnormal-parent {
    position: absolute;
    top: 49px;
    left: 450px;
    border-radius: 8px;
    background-color: #f8fafb;
    border: 1px solid #f1f5f9;
    box-sizing: border-box;
    width: 537px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px;
    font-size: 14px;
    color: #64748b;
    font-family: Manrope;
}
.avatar-w-photo-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(58, 46, 121, 0.93);
    width: 1280px;
    height: 135px;
    overflow: hidden;
    font-size: 11px;
    font-family: Roboto;
}
.fitness {
    position: relative;
    line-height: 22px;
    font-weight: 800;
}
.workout-bold-icon {
    width: 32px;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
}
.fitness-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.app-logo {
    align-self: stretch;
    background-color: #fff;
    border-bottom: 1px solid #cbd5e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 8px 24px;
}
.overview {
    flex: 1;
    position: relative;
    font-weight: 600;
}
.button {
    align-self: stretch;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    gap: 16px;
    color: #625b71;
}
.button1 {
    align-self: stretch;
    border-radius: 8px;
    background-color: #483d82;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    gap: 16px;
    color: #fff;
}
.button2 {
    align-self: stretch;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    gap: 16px;
}
.frame-item {
    width: 192px;
    flex: 1;
}
.button-parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 14px;
    color: #475569;
}
.app-logo-parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.frame-inner {
    width: 192px;
    height: 0px;
}
.frame-parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 18px;
    color: #4f378a;
}
.button6 {
    align-self: stretch;
    background-color: #fff;
    border-top: 1px solid #e2e8f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    gap: 16px;
}
.side-bar {
    position: absolute;
    top: -9px;
    left: -7px;
    box-shadow: 0px 12px 17px 2px rgba(0, 0, 0, 0.03), 0px 5px 22px 4px rgba(0, 0, 0, 0.02);
    background-color: #fff;
    border-right: 1px solid #e2e8f0;
    box-sizing: border-box;
    width: 240px;
    height: 841px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    gap: 16px;
    font-size: 14px;
    color: #475569;
    font-family: Manrope;
}
.logopurple-icon {
    position: absolute;
    top: 28px;
    left: 145px;
    width: 48px;
    height: 23px;
    object-fit: cover;
}
.heart-icon {
    position: absolute;
    top: 703px;
    left: 534px;
    width: 27px;
    height: 27px;
    overflow: hidden;
}
.share-icon2 {
    position: absolute;
    top: 366px;
    left: 571px;
    width: 29px;
    height: 25px;
    overflow: hidden;
}
.check-circle-icon2 {
    position: absolute;
    top: 366px;
    left: 823px;
    width: 27px;
    height: 25px;
    overflow: hidden;
}
.navaja-exercise-library-with {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 832px;
    overflow: hidden;
    text-align: left;
    font-size: 21px;
    color: #fff;
    font-family: Outfit;
}

.video-wrapper {
    position: relative;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto; /* Center-align */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    background: #000; /* Optional background */
}

.video-wrapper iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border: none; /* Remove border around iframe */
    border-radius: 10px; /* Match border-radius with wrapper */
}

