:root {
  --slate-500: rgba(100, 116, 139, 1);
  --white: rgba(255, 255, 255, 1);
  --slate-600: rgba(71, 85, 105, 1);
  --slate-800: rgba(30, 41, 59, 1);
  --cyan-500: rgba(6, 182, 212, 1);
  --cyan-600: rgba(8, 145, 178, 1);
  --orange-500: rgba(249, 115, 22, 1);
  --orange-600: rgba(234, 88, 12, 1);
  --orange-100: rgba(255, 237, 213, 1);
  --orange-300: rgba(253, 186, 116, 1);
  --slate-100: rgba(241, 245, 249, 1);
  --slate-200: rgba(226, 232, 240, 1);
  --monochromewhite: rgba(255, 255, 255, 1);
  --slate-300: rgba(203, 213, 225, 1);
  --m3-label-small-font-family: "Roboto", Helvetica;
  --m3-label-small-font-weight: 500;
  --m3-label-small-font-size: 11px;
  --m3-label-small-letter-spacing: 0.5px;
  --m3-label-small-line-height: 16px;
  --m3-label-small-font-style: normal;
  --m3-schemes-on-error: rgba(255, 255, 255, 1);
  --m3-schemes-on-primary-container: rgba(79, 55, 138, 1);
  --m3-schemes-error: rgba(179, 38, 30, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-m3-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-m3-mode="light"] {
  --m3-schemes-on-error: rgba(255, 255, 255, 1);
  --m3-schemes-on-primary-container: rgba(79, 55, 138, 1);
  --m3-schemes-error: rgba(179, 38, 30, 1);
}

[data-m3-mode="light-high-contrast"] {
  --m3-schemes-on-error: rgba(255, 255, 255, 1);
  --m3-schemes-on-primary-container: rgba(255, 255, 255, 1);
  --m3-schemes-error: rgba(68, 15, 14, 1);
}

[data-m3-mode="light-medium-contrast"] {
  --m3-schemes-on-error: rgba(255, 255, 255, 1);
  --m3-schemes-on-primary-container: rgba(255, 255, 255, 1);
  --m3-schemes-error: rgba(110, 47, 44, 1);
}

[data-m3-mode="dark"] {
  --m3-schemes-on-error: rgba(96, 20, 16, 1);
  --m3-schemes-on-primary-container: rgba(234, 221, 255, 1);
  --m3-schemes-error: rgba(242, 184, 181, 1);
}

[data-m3-mode="dark-high-contrast"] {
  --m3-schemes-on-error: rgba(0, 0, 0, 1);
  --m3-schemes-on-primary-container: rgba(0, 0, 0, 1);
  --m3-schemes-error: rgba(255, 249, 249, 1);
}

[data-m3-mode="dark-medium-contrast"] {
  --m3-schemes-on-error: rgba(51, 4, 5, 1);
  --m3-schemes-on-primary-container: rgba(0, 0, 0, 1);
  --m3-schemes-error: rgba(255, 185, 179, 1);
}

[data-m3-mode="monochrome-light"] {
  --m3-schemes-on-error: rgba(255, 255, 255, 1);
  --m3-schemes-on-primary-container: rgba(255, 255, 255, 1);
  --m3-schemes-error: rgba(179, 38, 30, 1);
}

[data-m3-mode="monochrome-dark"] {
  --m3-schemes-on-error: rgba(96, 20, 16, 1);
  --m3-schemes-on-primary-container: rgba(0, 0, 0, 1);
  --m3-schemes-error: rgba(242, 184, 181, 1);
}
