{% load static %}

<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="{% static '/css/strength.css' %}" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;700&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="navaja-exercise-library-with">
    		<div class="homepage-banner-mob-btg-with">
    		</div>
    		<div class="next">
      			<div class="next-child">
      			</div>
      			<b class="cardio">Cardio</b>
    		</div>
    		<div class="rectangle-parent">
      			<div class="frame-child">
      			</div>
      			<b class="sign-up" id="signUpText">Sign Up!</b>
      			<img class="left-arrow-1-icon" alt="" src="{% static 'images/left-arrow 1.png' %}" id="leftArrow1Icon">
      			
      			<b class="strength-training">Strength Training </b>
      			<div class="youtube-and-vimeo-video">
					<div class="video-wrapper">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/I9fsqKE5XHo?si=66ZDe5iHKW2k9n0s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					</div>
      			</div>
      			<div class="youtube-and-vimeo-video">
					<div class="video-wrapper">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/XB_7En-zf_M?si=3hXQ85SMqnUVVmzE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					</div>
      			</div>
      			<div class="youtube-and-vimeo-video">
					<div class="video-wrapper">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/qXrTDQG1oUQ?si=Hhxq8698i5fyt1gg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					</div>
      			</div>
      			<div class="pagination-next-parent">
        				<div class="pagination-next">
          					<div class="previous">Next</div>
          					<img class="arrow-right-icon" alt="" src="{% static 'images/Arrow right.png' %}">
          					
        				</div>
        				<div class="discrete">
          					<div class="handle">
          					</div>
          					<div class="inactive-track">
            						<div class="track">
            						</div>
          					</div>
          					<div class="discrete-dots">
            						<img class="track-dot-1" alt="" src="{% static 'images/Track dot 2.png' %}">
            						
            						<img class="track-dot-1" alt="" src="{% static 'images/Track dot 2.png' %}">
            						
            						<img class="track-dot-1" alt="" src="{% static 'images/Track dot 2.png' %}">
            						
            						<img class="track-dot-1" alt="" src="{% static 'images/Track dot 2.png' %}">
            						
            						<img class="track-dot-1" alt="" src="{% static 'images/Track dot 2.png' %}">
            						
            						<img class="track-dot-1" alt="" src="{% static 'images/Track dot 2.png' %}">
            						
            						<img class="track-dot-1" alt="" src="{% static 'images/Track dot 2.png' %}">
            						
            						<img class="track-dot-1" alt="" src="{% static 'images/Track dot 2.png' %}">
            						
            						<img class="track-dot-1" alt="" src="{% static 'images/Track dot 2.png' %}">
            						
            						<img class="track-dot-1" alt="" src="{% static 'images/Track dot 2.png' %}">
            						
            						<img class="track-dot-1" alt="" src="{% static 'images/Track dot 2.png' %}">
            						
          					</div>
        				</div>
        				<div class="pagination-previous">
          					<img class="arrow-right-icon" alt="" src="{% static 'images/Arrow left 2.png' %}">
          					
          					<div class="previous">Previous</div>
        				</div>
      			</div>
      			<div class="how-to-do">How to do proper Push-Ups</div>
      			<div class="perfect-pull-ups">Perfect Pull-Ups</div>
      			<div class="proper-form-of">Proper Form of Bent-Over Barbell</div>
      			<img class="icon" alt="" src="{% static 'images/icon.png' %}">
      			
      			<img class="icon1" alt="" src="{% static 'images/icon.png' %}">
      			
      			<img class="share-icon" alt="" src="{% static 'images/Share.png' %}">
      			
      			<img class="share-icon1" alt="" src="{% static 'images/Share.png' %}">
      			
      			<img class="check-circle-icon" alt="" src="{% static 'images/check-circle.png' %}">
      			
      			<img class="check-circle-icon1" alt="" src="{% static 'images/check-circle.png' %}">
      			
    		</div>
    		<div class="avatar-w-photo-parent">
				<a href="{% url 'notifAll:settings' %}"><img class="avatar-w-photo" alt="" src="{% static 'images/avatar-w-photo.png' %}"></a>
      			
      			<img class="bell-1-icon" alt="" src="{% static 'images/bell-1.png' %}" id="bell1Icon">
      			
      			<div class="badges">
        				<div class="badge-label">3</div>
      			</div>
      			<div class="greetings">
        				<b class="welcome-back">Welcome Back!</b>
        				<div class="good-morning">Good  Morning</div>
      			</div>
      			<img class="iconsaxboldsetting2" alt="" src="{% static 'images/iconsax-bold-setting2.png' %}">
      			
      			<div class="iconsaxlinearsearchnormal-parent">
        				<img class="iconsaxlinearsearchnormal" alt="" src="{% static 'images/iconsax-linear-searchnormal.png' %}">
        				
        				<div class="search">Search</div>
      			</div>
    		</div>
    		<div class="side-bar">
      			<div class="frame-parent">
        				<div class="app-logo-parent">
          					<div class="app-logo">
            						<div class="fitness-parent">
              							<div class="fitness">BodyBoost </div>
              							<img class="workout-bold-icon" alt="" src="{% static 'images/workout-bold-3.png' %}">
              							
            						</div>
          					</div>
          					<div class="button-parent">
            						<div class="button">
              							<img class="iconsaxlinearsearchnormal" alt="" src="{% static 'images/dashboardGrey.png' %}">
              							
              							<div class="overview">Overview</div>
            						</div>
            						<div class="button1">
              							<img class="iconsaxlinearsearchnormal" alt="" src="{% static 'images/workout_white.png' %}">
              							
              							<div class="overview">Workout</div>
            						</div>
            						<div class="button2">
              							<img class="iconsaxlinearsearchnormal" alt="" src="{% static 'images/diet-plan-2.png' %}">
              							
              							<div class="overview">Diet Plan</div>
            						</div>
            						<div class="button2">
              							<img class="iconsaxlinearsearchnormal" alt="" src="{% static 'images/goal-2.png' %}">
              							
              							<div class="overview">Goals</div>
            						</div>
            						<div class="button2">
              							<img class="iconsaxlinearsearchnormal" alt="" src="{% static 'images/schedule-2.png' %}">
              							
              							<div class="overview">My Schedule</div>
            						</div>
            						<div class="button2">
              							<img class="iconsaxlinearsearchnormal" alt="" src="{% static 'images/progres-2.png' %}">
              							
              							<div class="overview">Progress</div>
              							<img class="iconsaxlinearsearchnormal" alt="" src="{% static 'images/arrow-dark.png' %}">
              							
            						</div>
            						<div class="frame-item">
            						</div>
          					</div>
        				</div>
        				<div class="frame-inner">
        				</div>
      			</div>
      			<div class="button2">
        				<img class="iconsaxlinearsearchnormal" alt="" src="{% static 'images/help-2.png' %}">
        				
        				<div class="overview">Help</div>
      			</div>
      			<div class="button6">
        				<img class="iconsaxlinearsearchnormal" alt="" src="{% static 'images/logout-2.png' %}">
        				
        				<div class="overview">Logout</div>
      			</div>
    		</div>
    		<img class="logopurple-icon" alt="" src="{% static 'images/logopurple.png' %}">
    		
    		<img class="heart-icon" alt="" src="{% static 'images/heart.png' %}">
    		
    		<img class="share-icon2" alt="" src="{% static 'images/Share.png' %}">
    		
    		<img class="check-circle-icon2" alt="" src="{% static 'images/check-circle.png' %}">
    		
  	</div>
  	
  	
  	
  	
  	<script>
    		var signUpText = document.getElementById("signUpText");
    		if(signUpText) {
      			signUpText.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var leftArrow1Icon = document.getElementById("leftArrow1Icon");
    		if(leftArrow1Icon) {
      			leftArrow1Icon.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var bell1Icon = document.getElementById("bell1Icon");
    		if(bell1Icon) {
      			bell1Icon.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}</script></body>
</html>