{% load static %}
<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="{% static 'signupPage/css/knowMore.css' %}" rel="stylesheet" />

      <div class="bacaltos-sign-up-page2-container">
        <div class="bacaltos-sign-up-page2-bacaltos-sign-up-page2">
          <div class="bacaltos-sign-up-page2-frame1">
            <div class="bacaltos-sign-up-page2-frame3">
            </div>
            <div class="bacaltos-sign-up-page2-frame2">
              <img
                src="/static/signupPage/images/logopurple4350-j51-200h.png"
                alt="logoPurple5315"
                class="bacaltos-sign-up-page2-logo-purple"
              />
              <img
              src="/static/signupPage/images/line14351-6xxa.svg"
                alt="Line15316"
                class="bacaltos-sign-up-page2-line1"
              />
              <span class="bacaltos-sign-up-page2-text12">
                <span>First Name</span>
              </span>
              <img
              src="/static/signupPage/images/line14351-6xxa.svg"
                alt="Line55335"
                class="bacaltos-sign-up-page2-line5"
              />
              <span class="bacaltos-sign-up-page2-text14">
                <span>Last Name</span>
              </span>
              <img
              src="/static/signupPage/images/line14351-6xxa.svg"
                alt="Line75341"
                class="bacaltos-sign-up-page2-line7"
              />
              <span class="bacaltos-sign-up-page2-text16">
                <span>Weight</span>
              </span>
              <img
              src="/static/signupPage/images/line14351-6xxa.svg"
                alt="Line85343"
                class="bacaltos-sign-up-page2-line8"
              />
              <span class="bacaltos-sign-up-page2-text18">
                <span>Height</span>
              </span>
              <img
              src="/static/signupPage/images/line14351-6xxa.svg"
                alt="Line65337"
                class="bacaltos-sign-up-page2-line6"
              />
              <span class="bacaltos-sign-up-page2-text20">
                <span>Age</span>
              </span>
              <img
              src="/static/signupPage/images/line14351-6xxa.svg"
                alt="Line35320"
                class="bacaltos-sign-up-page2-line3"
              />
              <span class="bacaltos-sign-up-page2-text22">
                <span>Body Goal</span>
              </span>
              <img
                src="/static/signupPage/images/rectangle25324-8tjq-200h.png"
                alt="Rectangle25324"
                class="bacaltos-sign-up-page2-rectangle2"
              />
              <span class="bacaltos-sign-up-page2-text24">
                <span>Sign Up!</span>
              </span>
              <span class="bacaltos-sign-up-page2-text26">
                <span>Gender:</span>
              </span>
              <span class="bacaltos-sign-up-page2-text28">
                <span>Male</span>
              </span>
              <img
                src="/static/signupPage/images/ellipse285370-cj3o-200h.png"
                alt="Ellipse285370"
                class="bacaltos-sign-up-page2-ellipse28"
              />
              <img
                src="/static/signupPage/images/ellipse295371-9hwv-200h.png"
                alt="Ellipse295371"
                class="bacaltos-sign-up-page2-ellipse29"
              />
              <span class="bacaltos-sign-up-page2-text30">
                <span>Female</span>
              </span>
              <img
                src="/static/signupPage/images/ellipse305373-vib8-200h.png"
                alt="Ellipse305373"
                class="bacaltos-sign-up-page2-ellipse30"
              />
              <span class="bacaltos-sign-up-page2-text32">
                <span>Others</span>
              </span>
              <img
                src="/static/signupPage/images/ellipse315375-a0fm-200h.png"
                alt="Ellipse315375"
                class="bacaltos-sign-up-page2-ellipse31"
              />
              <span class="bacaltos-sign-up-page2-text34">v</span>
              <img
                src="/static/signupPage/images/rectangle55379-wfnj-200h.png"
                alt="Rectangle45377"
                class="bacaltos-sign-up-page2-rectangle4"
              />
              <span class="bacaltos-sign-up-page2-text35">
                <span>Yes, I want to receive BodyBoost emails</span>
              </span>
              <span class="bacaltos-sign-up-page2-text37">
                <span>and</span>
              </span>
              <img
                src="/static/signupPage/images/rectangle55379-wfnj-200h.png"
                alt="Rectangle55379"
                class="bacaltos-sign-up-page2-rectangle5"
              />
              <span class="bacaltos-sign-up-page2-text39">
                <span>I agree to all the</span>
              </span>
              <span class="bacaltos-sign-up-page2-text41">
                <span>Terms, Privacy Policy</span>
              </span>
              <span class="bacaltos-sign-up-page2-text43">
                <span>Fees</span>
              </span>
              <a href="{% url 'signup' %}">
                <img
                src="/static/signupPage/images/left-arrow1.png"
                alt="leftarrow15487"
                class="bacaltos-sign-up-page2-leftarrow1"
              />
              </a>
              <span class="bacaltos-sign-up-page2-text45">
                <span>Awesome. Let us know more about you!</span>
              </span>
            </div>
            <div class="bacaltos-sign-up-page-frame4">
              <img
                src="/static/signupPage/images/screenshot20240828at100419pmremovebgpreview14361-zif-200h.png"
                alt="Screenshot20240828at100419PMremovebgpreview14361"
                class="bacaltos-sign-up-page-screenshot20240828at100419p-mremovebgpreview1"
              />
              <div class="video-container">
                <video id="bodyBoostVideo" width=auto height="100%" autoplay loop muted playsinline>
                  <source src="{% static 'loginPage/images/BodyBoostVideo.mp4' %}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
              <a href="{% url 'login' %}">
                <div class="bacaltos-sign-up-page-text30">Login</div>
              </a>
              <a href="{% url 'signup' %}">
                <img
                  alt="Rectangle34362"
                  src="/static/signupPage/images/rectangle34362-p04m-200h.png"
                  class="bacaltos-sign-up-page-rectangle3"
                />
                <div class="bacaltos-sign-up-page-text32">Sign Up</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
