{% load static %}
<!DOCTYPE html>
<html lang="english">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button; appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="./style.css" />
    <div>
      <link href="{% static 'signupPage/css/knowMore.css' %}" rel="stylesheet" />

      <div class="bacaltos-sign-up-page2-container">
        <div class="bacaltos-sign-up-page2-bacaltos-sign-up-page2">
          <div class="bacaltos-sign-up-page2-frame1">
            <div class="bacaltos-sign-up-page2-frame3">
            </div>
            <div class="bacaltos-sign-up-page2-frame2">
              <img alt="Line15316" src="/static/signupPage/images/line14351-6xxa.svg" class="bacaltos-sign-up-page2-line1"/>
              <img alt="Line55335" src="/static/signupPage/images/line14351-6xxa.svg" class="bacaltos-sign-up-page2-line5"/>
              <img alt="Line75341" src="/static/signupPage/images/line14351-6xxa.svg" class="bacaltos-sign-up-page2-line7"/>
              <img alt="Line85343" src="/static/signupPage/images/line14351-6xxa.svg" class="bacaltos-sign-up-page2-line8"/>
              <img alt="Line65337" src="/static/signupPage/images/line14351-6xxa.svg" class="bacaltos-sign-up-page2-line6"/>
              <img alt="Line35320" src="/static/signupPage/images/line14351-6xxa.svg" class="bacaltos-sign-up-page2-line3"/>
              
              <img 
                src="/static/signupPage/images/logopurple4350-j51-200h.png"
                alt="logoPurple5315"
                class="bacaltos-sign-up-page2-logo-purple"
              />

              <div class="input-firstname">
                <input type="text" name="first_name" placeholder="First Name" class="bacaltos-sign-up-page2-text12" required />
                </div>
                <div class="input-lastname">
                <input type="text" name="last_name" placeholder="Last Name" class="bacaltos-sign-up-page2-text14" required />
                </div>
                <div class="input-weight">
                  <input type="number" name="weight" placeholder="Weight" class="bacaltos-sign-up-page2-text16" required />
                  <span class="weight-unit">(kg)</span>
                </div>
                <div class="input-height">
                  <input type="number" name="height" placeholder="Height" class="bacaltos-sign-up-page2-text18" required />
                  <span class="height-unit">(cm)</span>
                </div>
                <div class="input-age">
                <input type="number" name="age" placeholder="Age" class="bacaltos-sign-up-page2-text20" required />
                </div>
                <div class="input-bodygoal">
                  <select name="body_goal" class="bacaltos-sign-up-page2-text22" required>
                    <option value="" disabled selected>Select Body Goal</option>
                    <option value="victoria-secret-thin">Victoria-Secret Thin</option>
                    <option value="slim">Slim</option>
                    <option value="muscular">Muscular</option>
                    <option value="athletic">Athletic</option>
                    <option value="sumo-wrestler">Sumo Wrestler</option>
                  </select>
                </div>
              <img
                src="/static/signupPage/images/rectangle25324-8tjq-200h.png"
                alt="Rectangle25324"
                class="bacaltos-sign-up-page2-rectangle2"
              />
              <span class="bacaltos-sign-up-page2-text24">
                <span>Register</span>
              </span>
              <div class="gender-selection">
                <span class="bacaltos-sign-up-page2-text26">
                  <span>Gender:</span>
                </span>
                <div class="gender-option" data-gender="male">
                  <img
                    src="/static/signupPage/images/ellipse285370-cj3o-200h.png"
                    alt="Male"
                    class="gender-ellipse bacaltos-sign-up-page2-ellipse28"
                  />
                  <span class="bacaltos-sign-up-page2-text28">Male</span>
                </div>
                <div class="gender-option" data-gender="female">
                  <img
                    src="/static/signupPage/images/ellipse285370-cj3o-200h.png"
                    alt="Female"
                    class="gender-ellipse bacaltos-sign-up-page2-ellipse30"
                  />
                  <span class="bacaltos-sign-up-page2-text30">Female</span>
                </div>
                <div class="gender-option" data-gender="other">
                  <img
                    src="/static/signupPage/images/ellipse285370-cj3o-200h.png"
                    alt="Other"
                    class="gender-ellipse bacaltos-sign-up-page2-ellipse31"
                  />
                  <span class="bacaltos-sign-up-page2-text32">Others</span>
                </div>
              </div>
              <img
          src="/static/signupPage/images/rectangle55379-wfnj-200h.png"
          alt="Rectangle45377"
          class="bacaltos-sign-up-page2-rectangle4 checkbox-image"
          data-checked="false"
        />
        <span class="bacaltos-sign-up-page2-text35">
          <span>Yes, I want to receive BodyBoost emails</span>
        </span>
        <span class="bacaltos-sign-up-page2-text37">
          <span>and</span>
        </span>
        <img
          src="/static/signupPage/images/rectangle55379-wfnj-200h.png"
          alt="Rectangle55379"
          class="bacaltos-sign-up-page2-rectangle5 checkbox-image"
          data-checked="false"
        />
        <span class="bacaltos-sign-up-page2-text39">
          <span>I agree to all the</span>
        </span>
        <span class="bacaltos-sign-up-page2-text41">
          <span>Terms, Privacy Policy</span>
        </span>
        <span class="bacaltos-sign-up-page2-text43">
          <span>Fees</span>
        </span>
              <a href="{% url 'signup' %}">
                <img
                src="/static/signupPage/images/left-arrow1.png"
                alt="leftarrow15487"
                class="bacaltos-sign-up-page2-leftarrow1"
              />
              </a>
              <span class="bacaltos-sign-up-page2-text45">
                <span>Awesome. Let us know more about you!</span>
              </span>
            </div>
            <div class="bacaltos-sign-up-page-frame4">
              <img
                src="/static/signupPage/images/screenshot20240828at100419pmremovebgpreview14361-zif-200h.png"
                alt="Screenshot20240828at100419PMremovebgpreview14361"
                class="bacaltos-sign-up-page-screenshot20240828at100419p-mremovebgpreview1"
              />
              <div class="video-container">
                <video id="bodyBoostVideo" width=auto height="100%" autoplay loop muted playsinline>
                  <source src="{% static 'loginPage/images/BodyBoostVideo.mp4' %}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
              <a href="{% url 'login' %}">
                <div class="bacaltos-sign-up-page-text30">Login</div>
              </a>
              <a href="{% url 'signup' %}">
                <img
                  alt="Rectangle34362"
                  src="/static/signupPage/images/rectangle34362-p04m-200h.png"
                  class="bacaltos-sign-up-page-rectangle3"
                />
                <div class="bacaltos-sign-up-page-text32">Sign Up</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          const genderOptions = document.querySelectorAll('.gender-option');
          const outerEllipseSrc = "/static/signupPage/images/ellipse285370-cj3o-200h.png"; // Outer unselected ellipse
          const innerEllipseSrc = "/static/signupPage/images/radio-button (1).png"; // Inner selected ellipse
  
          genderOptions.forEach(option => {
              option.addEventListener('click', function() {
                  // Deselect all options
                  genderOptions.forEach(opt => {
                      const img = opt.querySelector('.gender-ellipse');
                      img.src = outerEllipseSrc; // Set to outer ellipse
                      img.classList.remove('selected'); // Remove selected styling
                  });
  
                  // Select clicked option
                  const selectedImg = this.querySelector('.gender-ellipse');
                  selectedImg.src = innerEllipseSrc; // Set to inner ellipse
                  selectedImg.style.position = 'absolute';
                  
  
                  // Store the selected gender if needed
                  const selectedGender = this.dataset.gender;
                  console.log('Selected gender:', selectedGender);
              });
          });
          const checkboxImages = document.querySelectorAll('.checkbox-image');
    const uncheckedSrc = "/static/signupPage/images/rectangle55379-wfnj-200h.png";
    const checkedSrc = "/static/signupPage/images/check-box.png";

    checkboxImages.forEach(checkbox => {
        const toggleCheckbox = () => {
            const isChecked = checkbox.getAttribute('data-checked') === 'true';
            checkbox.src = isChecked ? uncheckedSrc : checkedSrc;
            checkbox.setAttribute('data-checked', !isChecked);
            console.log(`Checkbox ${checkbox.classList[0]} is now ${!isChecked ? 'checked' : 'unchecked'}`);
        };

        checkbox.addEventListener('click', toggleCheckbox);

        // Add click event to the associated text
        const textElement = checkbox.nextElementSibling;
        if (textElement && (textElement.classList.contains('bacaltos-sign-up-page2-text35') || 
                            textElement.classList.contains('bacaltos-sign-up-page2-text39'))) {
            textElement.addEventListener('click', toggleCheckbox);
        }

        // Check for additional text elements that should be clickable
        const additionalTextElements = [
            textElement.nextElementSibling,
            textElement.nextElementSibling?.nextElementSibling
        ];

        additionalTextElements.forEach(element => {
            if (element && (element.classList.contains('bacaltos-sign-up-page2-text41') || 
                            element.classList.contains('bacaltos-sign-up-page2-text43'))) {
                element.addEventListener('click', toggleCheckbox);
            }
        });
    });
});
    </script>
  </body>
</html>
