{% load static %}

<!DOCTYPE html>
<html lang="english">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>

    <!-- Add font links from login.html -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />

    <!-- Add default style from login.html -->
    <style>
      html {
        font-family: Inter;
        font-size: 16px;
      }
      body {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);
      }
    </style>

    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="{% static 'loginPage/css/forgotPassword.css' %}" />
  </head>

  <body>
    <div class="bacaltos-forget">
      <div class="frame-wrapper">
        <div class="frame">
          <div class="overlap">
            <div class="div">
              <div class="text-wrapper">Or Login With:</div>
              <img class="facebook" src="{% static 'loginPage/images/facebook111326-lv3f-200h.png' %}" />
              <img class="apple" src="{% static 'loginPage/images/google21329-u3ug-200h.png' %}" />
              <img class="google" src="{% static 'loginPage/images/apple11328-lh7k-200h.png' %}" />
            </div>
            <div class="frame-2">
              <img class="logo-purple" src="{% static 'loginPage/images/logoPurple.png' %}" />
              <div class="group">
                <div class="overlap-group">
                  <div class="rectangle"></div>
                  <div class="text-wrapper-2">Confirm</div>
                </div>
              </div>
              <img class="left-arrow" src="{% static 'loginPage/images/left-arrow 1.png' %}" />
              <div class="text-wrapper-3">Forgot your Password?</div>
              <p class="enter-your-email">
                <span class="span">Enter your </span>
                <span class="text-wrapper-4">email address</span>
                <span class="span"> and we will send you a link to reset your password</span>
              </p>
              <div class="group-2">
                <img class="line" src="{% static 'loginPage/images/line11312-6ae.svg' %}" />
                <div class="overlap-2">
                  <div class="text-wrapper-5">Email Address</div>
                  <img class="account" src="{% static 'loginPage/images/account 1.png' %}" />
                </div>
              </div>
            </div>
          </div>
          <div class="frame-3">
            <img class="screenshot" src="{% static 'loginPage/images/screenshot20240828at100419pmremovebgpreview11333-r5i-200h.png' %}" />
            <div class="div-wrapper"><div class="text-wrapper-6">Login</div></div>
            <div class="text-wrapper-7">Sign Up</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>