.bacaltos-sign-up-page2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.bacaltos-sign-up-page2-bacaltos-sign-up-page2 {
  width: 100%;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.bacaltos-sign-up-page2-frame1 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 832px;
  display: flex;
  overflow: fit;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(58, 46, 121, 1);
}
.bacaltos-sign-up-page2-frame3 {
  top: 0px;
  left: 689px;
  width: 750px;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(252, 250, 250, 1);
}
.bacaltos-sign-up-page2-text10 {
  top: 774px;
  left: 88px;
  color: #3a2e79;
  width: 179px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bacaltos-sign-up-page2-facebook11 {
  top: 766px;
  left: 302px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.bacaltos-sign-up-page2-apple1 {
  top: 766px;
  left: 452px;
  width: 41px;
  height: 40px;
  position: absolute;
}
.bacaltos-sign-up-page2-google2 {
  top: 766px;
  left: 377px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.bacaltos-sign-up-page2-frame2 {
  top: -99px;
  left: 685px;
  width: 640px;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 10.199999809265137px 3px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 120px;
  background-color: rgba(246, 240, 240, 1);
  z-index: 4;
}
.bacaltos-sign-up-page2-logo-purple {
  top: 158px;
  left: 184px;
  width: 240px;
  height: 114px;
  position: absolute;
}
.bacaltos-sign-up-page2-line1 {
  top: 423px;
  left: 95px;
  width: 188px;
  height: 1px;
  position: absolute;
}
.bacaltos-sign-up-page2-text12 {
  top: 393px;
  left: 90px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 190px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}
.bacaltos-sign-up-page2-line5 {
  top: 423px;
  left: 317px;
  width: 188px;
  height: 1px;
  position: absolute;
}
.bacaltos-sign-up-page2-text14 {
  top: 393px;
  left: 311px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 190px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}
.bacaltos-sign-up-page2-line7 {
  top: 543px;
  left: 95px;
  width: 190px;
  height: 1px;
  position: absolute;
}
.bacaltos-sign-up-page2-text16 {
  top: 513px;
  left: 89px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 110px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}
.bacaltos-sign-up-page2-line8 {
  top: 543px;
  left: 316px;
  width: 192px;
  height: 1px;
  position: absolute;
}
.bacaltos-sign-up-page2-text18 {
  top: 513px;
  left: 311px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 102px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}
.bacaltos-sign-up-page2-line6 {
  top: 609px;
  left: 94px;
  width: 95px;
  height: 1px;
  position: absolute;
}
.bacaltos-sign-up-page2-text20 {
  top: 578px;
  left: 90px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 76px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}
.bacaltos-sign-up-page2-line3 {
  top: 607px;
  left: 221px;
  width: 288px;
  height: 3px;
  position: absolute;
}
.bacaltos-sign-up-page2-text22 {
  top: 580px;
  left: 221px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 285px;
  height: auto;
  opacity: 0.60;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
}
.bacaltos-sign-up-page2-rectangle2 {
  top: 733px;
  left: 178px;
  width: 262px;
  height: 50px;
  position: absolute;
  border-radius: 30px;
}
.bacaltos-sign-up-page2-text24 {
  top: 744px;
  left: 166px;
  color: rgba(255, 255, 255, 1);
  width: 287px;
  height: auto;
  position: absolute;
  font-size: 21px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bacaltos-sign-up-page2-text26 {
  top: 458px;
  left: 85px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 106px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bacaltos-sign-up-page2-text28 {
  top: 461px;
  left: 223px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 55px;
  height: auto;
  opacity: 0.95;
  position: absolute;
  font-size: 19px;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bacaltos-sign-up-page2-ellipse28 {
  top: 463px;
  left: 206px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: #7b6868;
  border-style: solid;
  border-width: 0px;
}
.bacaltos-sign-up-page2-ellipse29 {
  top: 468px;
  left: 211px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.bacaltos-sign-up-page2-text30 {
  top: 461px;
  left: 322px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 70px;
  height: auto;
  opacity: 0.95;
  position: absolute;
  font-size: 19px;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bacaltos-sign-up-page2-ellipse30 {
  top: 463px;
  left: 301px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: rgba(123, 104, 104, 1);
  border-style: solid;
  border-width: 0px;
}
.bacaltos-sign-up-page2-text32 {
  top: 461px;
  left: 436px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 70px;
  height: auto;
  opacity: 0.95;
  position: absolute;
  font-size: 19px;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bacaltos-sign-up-page2-ellipse31 {
  top: 463px;
  left: 418px;
  width: 21px;
  height: 21px;
  position: absolute;
  border-color: rgba(123, 104, 104, 1);
  border-style: solid;
  border-width: 0px;
}
.bacaltos-sign-up-page2-text34 {
  top: 575px;
  left: 490px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 18px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Outfit;
  font-weight: lighter;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bacaltos-sign-up-page2-rectangle4 {
  top: 649px;
  left: 117px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.6000000238418579);
  border-style: solid;
  border-width: 1px;
}
.bacaltos-sign-up-page2-text35 {
  top: 645px;
  left: 135px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 310px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bacaltos-sign-up-page2-text37 {
  top: 672px;
  left: 429px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 47px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bacaltos-sign-up-page2-rectangle5 {
  top: 676px;
  left: 117px;
  width: 16px;
  height: 16px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.6000000238418579);
  border-style: solid;
  border-width: 1px;
}
.bacaltos-sign-up-page2-text39 {
  top: 672px;
  left: 135px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 143px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bacaltos-sign-up-page2-text41 {
  top: 672px;
  left: 263px;
  color: rgba(58, 46, 121, 1);
  width: 179px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bacaltos-sign-up-page2-text43 {
  top: 672px;
  left: 461px;
  color: rgba(58, 46, 121, 1);
  width: 56px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 17px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bacaltos-sign-up-page2-leftarrow1 {
  top: 125px;
  left: 34px;
  width: 46px;
  height: 46px;
  position: absolute;
}
.bacaltos-sign-up-page2-text45 {
  top: 288px;
  left: 135px;
  color: rgba(58, 46, 121, 1);
  width: 337px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bacaltos-sign-up-page-frame4 {
  top: 0px;
  left: 0px;
  width: 60%;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
} 
.bacaltos-sign-up-page2-screenshot20240828at100419p-mremovebgpreview1 {
  top: 340px;
  left: 113px;
  width: 463px;
  height: 152px;
  position: absolute;
}
.bacaltos-sign-up-page2-rectangle3 {
  top: 131px;
  left: 491px;
  width: 243px;
  height: 69px;
  position: absolute;
  border-radius: 25px;
}
.bacaltos-sign-up-page2-text47 {
  top: 75px;
  left: 510px;
  color: rgba(255, 255, 255, 1);
  width: 160px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.bacaltos-sign-up-page2-text49 {
  top: 146px;
  left: 510px;
  color: rgba(80, 67, 150, 0.8899999856948853);
  width: 160px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.weight-unit {
  left: 241px;
  top: 519px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 47px;
  height: auto;
  opacity: 0.60;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.height-unit {
  left: 460px;
  top: 519px;
  color: rgba(5, 5, 5, 0.8799999952316284);
  width: 47px;
  height: auto;
  opacity: 0.60;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: center;
  font-family: Outfit;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.bacaltos-sign-up-page-screenshot20240828at100419p-mremovebgpreview1 {
  top: 340px;
  left: 113px;
  width: 463px;
  height: 152px;
  position: absolute;
  z-index: 3;
}

.bacaltos-sign-up-page-rectangle3 {
  top: 131px;
  left: 491px;
  width: 243px;
  height: 69px;
  position: absolute;
  border-radius: 25px;
  z-index: 3;
}
.bacaltos-sign-up-page-text30 {
  top: 75px;
  left: 510px;
  color: rgba(255, 255, 255, 1);
  width: 160px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  z-index: 3;
}
.bacaltos-sign-up-page-text32 {
  top: 146px;
  left: 510px;
  color: rgba(80, 67, 150, 0.8899999856948853);
  width: 160px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Bold;
  text-align: center;
  font-family: Outfit;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  z-index: 3;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%; /* Adjust as needed */
  overflow: hidden;
}

.video-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(80, 67, 150, 0.6); /* #504396E3 with 0.89 opacity */
  z-index: 1;
  pointer-events: none;
}

video {
  position: absolute;
  z-index: 0;
  width: auto;
  height: 100%;
  object-fit: cover;
}

.input-firstname input,
.input-lastname input,
.input-weight input,
.input-height input,
.input-age input,
.input-bodygoal input {
    text-align: left;
    padding-left: 10px; /* Optional: adds space between text and border */
}

.gender-option {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}
.gender-option img {
  vertical-align: middle;
}
.gender-option span {
  margin-left: 5px;
}

.checkbox-image {
  border: none;
  cursor: pointer;
}

/* Styles for the text next to the checkboxes */
.bacaltos-sign-up-page2-text35,
.bacaltos-sign-up-page2-text39,
.bacaltos-sign-up-page2-text41,
.bacaltos-sign-up-page2-text43 {
  cursor: pointer;
}

.register-button {
  cursor: pointer;
}